name: Auth Service

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test Endpoints
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r backend/requirements.txt

      - name: Run Django migrations
        run: |
          cd backend
          DJANGO_SETTINGS_MODULE=test_settings python manage.py migrate

      - name: Create staticfiles folder
        run: |
          cd backend
          mkdir staticfiles

      - name: Run tests
        run: DJANGO_SETTINGS_MODULE=test_settings python -m pytest backend/test_endpoints.py -v
